body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;

}

li {
    list-style: none;
    border-bottom: 1px dashed green;
    line-height: 2em;
}