#gameboard {
    border: 1px solid black;
    border-radius: 10px;
    height: 35em;
    width: 80%;
    margin: auto;
    background-color: #4f7468;
    position: relative;
}

#gameboard>* {
    margin: auto 5%;
}

.pile {
    border: 1px dotted gray;
    min-width: 50px;
    min-height: 70px;
    border-radius: 5px;
}

.pile[data-house = "hearts"] {
    background: url(images/heart.svg) no-repeat center;
    background-size: contain;
}
.pile[data-house = "spades"] {
    background: url(images/spade.svg) no-repeat center;
    background-size: contain;
}
.pile[data-house = "diamonds"] {
    background: url(images/diamond.svg) no-repeat center;
    background-size: contain;
}
.pile[data-house = "clubs"] {
    background: url(images/club.svg) no-repeat center;
    background-size: contain;
}

#goal {
    position: relative;
    top: 125px;
    display: flex;
    justify-content: space-between;
    width: 40%;
}


#play {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: space-between;
}

#deck {
    position: absolute;
    top: 25px;
    display: flex;
    gap: 5%;
}

#controls {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
}

#stats {
    position: absolute;
    bottom: 25px;

}



/* cards */
.card-container >* {
    /* width: 50px;
    height: 70px; */
    border-radius: 5px;
    border: 1px solid black
}

.stacked {
    position: absolute;
}


.card-container[data-color="red"] {
    color: red;
}
.card-container[data-color="black"] {
    color:black
}


.card-container {
    width: 50px;
    height: 70px;
    position: absolute;
    transition: transform 300ms;
    transform-style: preserve-3d;
  }
  
  .card {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
  }
  
  .face {
    background-color: antiquewhite;
  }
  
  .back {
    background: gray;
    transform: rotateY( 180deg );
  }
  .backImg {
      width: 100%;
      border-radius: 5px;
  }

  .card-container.facedown {
    transform: rotateY(180deg);
  }

  .card-container.facedown .block{
      width: 100%;
      height: 100%;
      background-color: black;
  }

#gameMenu  {
    width: 200px;
    height: 200px;
    align-self: center;  
    margin: 10% auto;
  }
#gameMenu form > div > label > select {
    width: 100%;
}
#gameMenu form > div > label  {
    font-weight: bold;
}