#navigate, #direction {
    margin: 5px auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    gap: 5px;
}
#navigate input, #direction input {
    margin: 5px auto;
    flex-grow: 1;
    max-width: 100px;
    height: 30px;
    
}
main {
    width: 100%;
    max-width: 275px;
    margin: auto;
}